{% extends "base.html" %}
{% load svg_icons %}
{% block title %}team3books{% endblock %}

{% block content %}
<nav id='navbar'>
  <!-- Logo and link to home -->
  <div id='nav-upper'>
    <a href="{% url 'home' %}"><img alt="Book Homepage" src="{% svg_icon 'books' %}" style="max-width: 50px; max-height: 50px; min-height:50px; min-width:50px;"></a>
<!--    
    <form id='search-form'>
      <input class='search-bar' type='text' placeholder='Search by Title, Author, or ISBN'>
      <input class='search-btn' type='submit' value='Search'>
    </form>
    -->
    <form id='search-form' method="get" action="{% url 'book_list' %}">
      {% csrf_token %}
      {{ search_form.query.errors }}
      {{ search_form.query}}
      
  <button type="submit">Search</button>
</form>

    <div id='nav-cart-login'>
      <a href="{% url 'view_cart' %}"><img src="{% svg_icon 'shopping-cart' %}" alt="Shopping Cart" style='max-width:50px; max-height: 50px;'></a>
      {% if user.is_authenticated %}
      <p style="font-size:20px;">Hi, </p><a style="font-size:20px; margin-left:8px;" href="{% url 'profile' %}">{{user.username}}</a>
      <form method='post' action="{% url 'logout' %}">
	{% csrf_token %}
	<button type='submit' class='logout-btn' style="font-size:20px">Logout</button>
      </form>
      {% else %}
      <p style="font-size:26px;">Hi, guest<a href="{% url 'login_page'%}">Login</a> or <a href="{% url 'register' %}">Sign Up</a></p>
      {% endif %}
    </div>
  </div>
  <div id='nav-lower'>
    <a class='nav-link off-center-underline' href="{% url 'book_list' %}">Books</a>
    <a class='nav-link off-center-underline' href="{% url 'fiction'%}">Fiction</a>
    <a class='nav-link off-center-underline' href="{% url 'nonfiction'%}">Nonfiction</a>
    <a class='nav-link off-center-underline' href="{% url 'teen'%}">Teen</a>
    <a class='nav-link off-center-underline' href="{% url 'kids'%}">Kids</a>
    <a class='nav-link off-center-underline' href="{% url 'classics'%}">Classics</a>
  </div>
  <!-- Search bar  -->
  
</nav>

<div id='main-content'>
  {% block maincontent %}
  {% endblock maincontent %}
</div>
{% endblock content %}
