{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}team3books{% endblock %}</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/main_style.css' %}">
  </head>
  <body>
    
    <div id="root">
      {% block content %}{% endblock %}
    </div>
    
    
    <!--	<script src="index.js"></script> -->

    <footer>
      {%block footer%}

      <div id='footer-hero'>
	<h5>Thanks for stopping by!</h5>
      </div>

      <div id='footer-info'>
	<div id='footer-contact-info'>
	  <p>Have any questions? Meow at us.</p>
	  <p>123 - 456 - 7890</p>
	  <p>team3books@gmail.com</p>
	</div>
	<div id='footer-socials'>
	  <p>Socials</p>
	  <div id='footer-social-logos'>
	    <!-- replace these with svg logo artifacts. -->
	    <a href='#'>Instagram</a>
	    <a href='#'>Facebook</a>
	    <a href='#'>TikTok</a>
	    <a href='#'>X</a>
	  </div>
	</div>

	<div id='footer-newsletter'>
	  <p>Sign up for our newsletter</p>
	  <form action='#' id='footer-newsletter-signup'>
	    <input type='email' action='#'>
	    <input type='submit' value='Sign Up'>
	  </form>
	</div>
      </div>
      {% endblock %}
    </footer>
  </body>
</html>
