<!-- book_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Books</h1>

    <!-- Search Form -->
    <form method="get" action="{% url 'book_list' %}">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <!-- Display Books -->
    {% if books %}
        <div class="book-list">
          {% for book in books %}
	  <a href="{% url 'book_detail' book.pk %}">
            <div class="book" style='display: flex;'>
              {% if book.cover_picture %}
              <img src="{{ book.cover_picture.url }}" alt="{{ book.title }}" style="max-width: 200px; height: auto;">
              {% else %}
              <p>No cover image available</p>
              {% endif %}
	      <div id='book-list-info' style='padding:10px;'>
	      <h2>{{ book.title }}</h2>
	      <h4>{{ book.authors}}</h4>
	      <h4>{{ book.selling_price }}</h4>
	      <!-- Add a link to add to cart here -->
	      </div>
            </div>
	    </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No books found.</p>
    {% endif %}
</body>
</html>
