{% extends "base_nav.html" %}

{% block maincontent %}
<div id='home-container'>
  <!-- How can we make this better? -->

  <!-- Background image will go here.  -->
  <div id='home-bg-image'></div>
  <div id='home-book-content'>
    <h1 id='home-welcome-msg'>Welcome to team3books</h1>
    <h2 class='book-ls-label'>Featured Books</h2>
    <ul class='book-panel'>
      {% for book in featured_books %}
      <li class='book-card-li'>
	<div class='book-card-home'>
          <img src="{{ book.cover_picture.url }}" alt="{{ book.title }} cover" width='100'>
	  <div class='book-card-txt'>
            <h3>{{ book.title }}</h3>
            <p>{{ book.authors }}</p>
            <p>${{ book.selling_price }} </p>
	    <form method='post' action='{% url "add_to_cart" book.id %}'>
              {% csrf_token %}
              <button type='submit'>Add to Cart</button>
            </form>
	  </div>
	</div>
      </li>
      {% empty %}
          <p>No featured books availavle.</p>
      {% endfor %}
    </ul>

    <h2 class='book-ls-label'>New Arrivals</h2>
    <ul class='book-panel'>
      {% for book in new_arrivals_books %}
      <li class='book-card-li'>
	<div class='book-card-home'>
          <img src="{{ book.cover_picture.url }}" alt="{{ book.title }} cover" width="100">
	  <div class='book-card-txt'>
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.authors }}</p>
        <p>${{ book.selling_price }} </p>
	<form method='post' action='{% url "add_to_cart" book.id %}'>
          {% csrf_token %}
          <button type='submit'>Add to Cart</button>
        </form>
	</div>
	</div>
      </li>
      {% empty %}
      <p>No new arrivals available.</p>
      {% endfor %}
    </ul>
    </div>
</div>
{% endblock maincontent %}
