@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

* {
    margin: 0px;
    background-color: #FDFBE4;
    font-family: 'Gaegu', sans-serif;
}


.add-book-container {
    max-width: 400px;
    margin: 30px;
}



#nav-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#nav-lower {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black; /* dev purpose - delete later */
    padding: 10px;
}

#home-welcome-msg {
    display: flex;
    justify-content: center;
}

.book-ls-label {
    display: flex;
    justify-content: center;
}


#search-form {
    
}

.search-bar {
    background-color: white;
    width: 300px;
    height: 30px;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    /* outline: none; */
}

.search-btn {
    background-color: #A35950;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

#nav-cart-login {
    display: flex;
    justify-content: space-between;
}

#nav-cart-login a {
    margin-right: 40px;
}

.nav-link {
    font-size: 32px;
    color: #322829;
    position: relative;
    text-decoration: none;
}

.nav-link:after {
    position: absolute;
    height: 5px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: -200;
    width: 80%;
    color: #322829;
    background-color: #322829;
    left: 0;
    bottom: -4px;
}

.book-panel {
    display: flex;
    list-style-type: none;
    padding: 15px;
    justify-content: space-around;
}

.book-card-home img {
    max-height: 120px;
}

#footer * {
    background-color: #A35950;
    color: #FFF;
}

#footer-hero {
    text-align: center;
    border-top: 1px solid #ccc;
}

#footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-subinfo {
    text-align: center;
}

#footer-txt {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 20px;
    width: 50px;
    
}

#footer-submit-btn {
    background-color: #322829;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 10px;
}

.social-logo {
    width: 20px;
    height: 20px;
    color: white;
}

.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border 1px solid #ccc;
    border-radius: 2px;
    background-color: #A35950;
    margin-top: 50px;
    margin-bottom: 160px;
}

.registration-container h1 {
    background-color: #A35950;
    color: #fff;
}

.registration-form {
    background-color: #A35950;
}

.form-group {
    margin-bottom: 15px;
    background-color: #A35950;
    color: #fff;
}

.form-group * {
    background-color: #A35950;
}


.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 22px;
    background-color: #FDFBE4;
}

.custom-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.registration-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    background-color: #322829;
    border-color: #ccc;
    padding: 10px;
    line-height: 1.5;
    border-radius: 0.25rem;
    font-size: 22px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.registration-btn:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.btn-swap {
    background-color: #A35950;
    display: flex;
    justify-content: space-between;
}

.btn-swap a {
    background-color: #A35950;
    margin-top: 10px;
    text-decoration: underline;
    color: #322829;
    font-size: 18px;
}

#email-msg-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

.book-li-entry {
    display: flex;
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
    padding-top: 15px;
}

.book-list {
    margin-top: 10px;
}

.book-li-img {
    margin-left: 40px;
}

.book-li-info {
    text-decoration: none !important;
    padding: 10px;
}

.bool-li-info h1 {
    font-size: 32px;
}

.user-info-options ul {
    list-style-type: none;
}

/*
.book-card-txt {
    text-align: center;
}

.book-card-home {
   margin: 0px auto;
}

.book-card-li {    
}
*/
/*
